
ScrapGeneral/script-s/funciones/__pycache__/__init__.cpython-311.pyc
ScrapGeneral/script-s/funciones/__pycache__/almacenamiento.cpython-311.pyc
ScrapGeneral/script-s/funciones/__pycache__/manejo_data.cpython-311.pyc
ScrapGeneral/script-s/funciones/__pycache__/buscar.cpython-311.pyc
ScrapGeneral/script-s/funciones/__pycache__/manejo_urls.cpython-311.pyc
ScrapGeneral/script-s/funciones/__pycache__/menu.cpython-311.pyc
ScrapGeneral/script-s/funciones/__pycache__/scrap.cpython-311.pyc
ScrapGeneral/script-s/funciones/__pycache__/scraping.cpython-311.pyc
